header {
  width: 100%;
  padding: 5px;
}
a {
  text-decoration: none;
}
body {
  font-family: "Montserrat Alternates", sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
.logo {
  width: 100px;
}
.sections {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
}
.section {
  color: #303136;
  padding: 25px 9px;
  transition: all 0.3s ease;
}
.section:hover,
.section:focus {
  background-color: #000a3e;
  color: #f4f4f5;
}

/*-------------Hero------------------*/
.hero {
  background-image: url(/img/Img_Overlay.png), url(/img/hero-truck.jpg);
}
.hero-content {
  padding: 20px;
  padding-bottom: 454.48px;
  color: white;
}
.hero-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-size: 44px;
  margin-top: 100px;
}
.hero-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
}

/*------------------Section 1-------------------------*/
.section1 {
  display: flex;
  flex-direction: column;
}
.par1-sec1 {
  margin-bottom: 0;
  display: flex;
}
.pars-sec1 {
  font-size: large;
}
.section1-title {
  padding-top: 90px;
  padding-bottom: 50px;
  margin: 0%;
  display: flex;
  justify-content: center;
  font-size: xx-large;
}
.section1-title span {
  margin-right: 10px; /* Adjust the value as needed */
}
.underline {
  text-decoration: underline;
}
.btn {
  font-size: 17px;
  background: transparent;
  width: 130px;
  padding: 7px 25px;
  color: #303136;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #000a3e;
  transition: 0.5s ease;
}

.btn:hover {
  color: white;
  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #000a3e;
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
/*------------------Section 2-------------------------*/

/* Styling for the mobile menu button */
.menu-button {
  display: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  background-color: transparent;
  border: none;
}

/* Styling for the mobile menu */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: -350px;
  width: 250px;
  height: 100vh;
  padding: 20px;
  background-color: #f1f1f1;
  transition: left 0.3s ease-out;
}

.mobile-menu.active {
  left: 0;
}
#closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.mobile-menu .section {
  margin-bottom: 10px;
}

/* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
