header {
  width: 100%;
  padding: 5px;
}
.curent-page {
  background-color: #000a3e;
  color: #f4f4f5;
  padding: 25px 9px;
}
a {
  text-decoration: none;
}
body {
  font-family: "Montserrat Alternates", sans-serif;
  color: #000a3e;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}
ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}
.contact {
  color: white;
  transition: 0.5s ease;
}
.contact:hover {
  color: #31d0aa;
}
li {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
.logo {
  width: 100px;
}
.sections {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
}
.section {
  color: #303136;
  padding: 25px 9px;
  transition: all 0.3s ease;
}
.section:hover,
.section:focus {
  background-color: #000a3e;
  color: #f4f4f5;
}
.footer {
  color: white;
  background-color: #000a3e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-text {
  width: 400px;
  margin: 0;
}
/*-------------Hero------------------*/
.hero {
  background-image: url(./img/Img_Overlay.png), url(./img/hero-truck.jpg);
}
.hero-about {
  background-image: url(./img/Img_Overlay.png), url(./img/about-hero.jpg);
}
.hero-content {
  padding: 20px;
  padding-bottom: 454.48px;
  color: white;
}
.hero-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-size: 44px;
  margin-top: 100px;
}
.hero-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
}

/*------------------Section 1-------------------------*/
.section1 {
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
}
.par1-sec1 {
  margin-bottom: 0;
  display: flex;
}
.pars-sec1 {
  font-size: large;
}
.section1-title {
  padding-top: 90px;
  padding-bottom: 50px;
  margin: 0%;
  display: flex;
  justify-content: center;
  font-size: xx-large;
}
.section1-title span {
  margin-right: 10px; /* Adjust the value as needed */
}
.underline {
  text-decoration: underline;
}
.btn {
  font-size: 17px;
  background: transparent;
  width: 130px;
  padding: 7px 25px;
  color: #303136;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #000a3e;
  transition: 0.5s ease;
}

.btn:hover {
  color: white;
  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #000a3e;
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
/*------------------Section 2-------------------------*/
.section2 {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;
  display: flex;
  justify-content: space-around;
}
.content-sec2 {
  transition: all 0.8s ease;
  padding-left: 20px;
  padding-top: 10px;
}
.content-sec2:hover {
  padding-left: 0px;
  padding-top: 0px;
}
.sec2-element1 {
  height: 340px;
  width: 400px;
  text-align: left;
  background-image: url(./img/Img_Overlay.png), url(./img/sec2-elm1.jpg);
  transition: all 0.8s ease;
}

.elem1-title {
  padding-bottom: 90px;
  padding-left: 30px;
  padding-top: 60px;
  margin: 0%;
  font-size: xx-large;
  color: white;
}

.elem-btn {
  margin-left: 30px;
  padding: 15px 20px;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: transparent;
  border-color: white;
  border: solid white;
  color: white;
  cursor: pointer;
  transition: all 0.8s ease;
}
.elem-btn:hover,
.elem-btn:focus {
  color: #000a3e;
  background-color: white;
}
.sec2-element2 {
  height: 340px;
  width: 400px;
  text-align: left;
  background-image: url(./img/Img_Overlay.png), url(./img/question.jpg);
}
/*-----------------Section 3----------------------*/
.section3 {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
.sec3-tit {
  font-size: xxx-large;
}
.sec3-tit2 {
  font-size: x-large;
}
.time-sec {
  display: flex;
}
.sec3-elm1 {
  width: 1500px;
}
.text {
  width: fit-content;
}
.time {
  display: flex;
}
.sec3-elm2 {
  margin-left: 20px;
}
.clock:hover {
  box-shadow: #000a3e;
}
svg {
  transition: all 0.5s ease;

  &:hover {
    filter: drop-shadow(8px 5px 3px rgba(0, 0, 0, 0.5));
  }
}

/* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .hero {
    background-image: url(./img/Img_Overlay.png),
      url(./img/hero-truck-tablet.jpg);
  }
  .section1-title {
    font-size: x-large;
  }
  .hero-content {
    padding-bottom: 420px;
  }
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (max-width: 768px) {
}
